<div class="flex flex-wrap sans-serif f6">
   <div class="f4 flex items-center justify-between w-100 mh2">
    <p>Investigators</p>
    <button 
      class="btn btn-success w3 h2"
      (click)="onAddInvestigator()"
      [disabled]="!(investigators.length < 4)">
        Add
    </button>
  </div>
  <div class="w-100">
    <div 
    class="flex justify-between items-center ma2" 
    *ngFor="let investigator of investigators;let id = index">
      <div class="w-75">{{investigator.name}}</div>
      <div class="w-25">
          <button 
          class="btn btn-primary w3 h2 mh1 fr"
          [innerText]="(id === selectedIndex) ? 'Hide' : 'Show'" 
          (click)="onToggleInvestigator(id, $event)"
          >Show details
      </button>
      </div>
    </div>
  </div>
</div>
<div 
  *ngIf="selectedInvestigator !== undefined"
  class="ba br2 pa2">
  <div>
    <app-investigator [investigator]="selectedInvestigator" [investigatorId]="selectedIndex" ></app-investigator>
  </div>
  <div>
    <button class="btn btn-success h2 mh1 w3">Save</button>
    <button class="btn btn-danger h2 mh1 w3" (click)="onDeleteInvestigator()">Delete</button>
  </div>
</div>