<div class="flex flex-wrap sans-serif f6 mv1 bb bw1 b--black-10">
   <div class="f4 flex items-center justify-between w-100 mh2">
    <p>Investigators</p>
    <button 
      class="btn btn-success w3 h2"
      (click)="onAddInvestigator()"
      [disabled]="!(investigators.length < 4)">
        Add
    </button>
  </div>
  <div class="w-100">
    <div 
    class="flex justify-between items-center ma2" 
    *ngFor="let investigator of investigators;let id = index">
      <div class="w-75">{{investigator.name}}</div>
      <div class="w-25">
          <button 
          class="btn btn-primary w3 h2 mh1 fr"
          [routerLink]="[id]"
          [routerLinkActive]="'btn-danger'"
          >Show
      </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>