<div class="flex flex-wrap sans-serif f6 mv1 bb bw1 b--black-10">
   <div class="f4 flex items-center justify-between w-100 mh2">
    <p>Investigators</p>
    <button 
      class="btn btn-success w3 h2"
      (click)="onAddInvestigator()"
      [disabled]="!(investigators.length < 4)">
        Add
    </button>
  </div>
  <div class="w-100">
    <div class="f6 bb bw1 b--black-10 flex w-100">
      <div *ngFor="let investigator of investigators;let id = index" [routerLinkActive]="'b--light-blue bb bw2 fw5'">
        <button
          class="black pv2 ph3 bg-transparent ba b--transparent pointer"
          [routerLinkActive]="'i'"
          [routerLink]="[id]">
          {{ investigator.name }}
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>