<div class="sans-serif center" style="width: 500px;">
  <div>
    <div class="center mv2">
      Campaign name: 
      <input type="text" class="h2 b--blue br2 w-60" [(ngModel)]="campaignName"></div>
    <div class="flex justify-center sans-serif w-100 sans-serif">
      <button class="btn btn-primary h2 mh1" (click)="onToggleInvestigators()">Investigators</button>
      <button class="btn btn-primary h2 mh1" (click)="onToggleProgress()">Progress</button>
    </div>
    <div [hidden]="!isInvestigatorsVisible">
      <app-investigator-list></app-investigator-list>
    </div>
    <div [hidden]="!isProgressVisible">
        <app-campaign-progress></app-campaign-progress>
    </div>
  </div>
</div>