<div>
  <div *ngIf="loadingCampaign; else campaignBlock">
    <div class="loader"></div>
  </div>
  <ng-template #campaignBlock>
    <div class="center mv2">
      Campaign name: 
      <input type="text" class="h2 b--blue br2 ba w-60" [(ngModel)]="campaign.name">
    </div>
    <p>Campaign type: {{campaign.campaignType}}</p>
  </ng-template>
  <div class="sans-serif w-100 ba br2">
    <div class="f5 bb bw1 b--black-10 flex">
        <a
          class="dib link pa3 black" 
          [routerLink]="['investigators']"
          [routerLinkActive]="'b--blue b bb bw2'">Investigators</a>
        <a class="dib link pa3 black"
          [routerLink]="['progress']"
          [routerLinkActive]="'b--blue b bb bw2'">Progress</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>