<div>
  <div class="center mv2">
    Campaign name: 
    <!-- <input type="text" class="h2 b--blue br2 ba w-60" [(ngModel)]="campaignName"></div> -->
    <input type="text" class="h2 b--blue br2 ba w-60" [(ngModel)]="campaign.name"></div>
    <p>Campaign type: {{campaign.campaignType}}</p>
  <div class="flex justify-center sans-serif w-100">
    <button class="btn btn-primary h2 mh1" [routerLink]="['investigators']">Investigators</button>
    <button class="btn btn-primary h2 mh1" [routerLink]="['progress']">Progress</button>
  </div>
  <router-outlet></router-outlet>
</div>