<div class="pa2 bb bw1 b--black-10">
    <div class="f4 mb1">Missions</div>
    <div>
        <table class="collapse w-100">
          <tr class="striped--near-white">
            <th class="pv2 ph3">Mission</th>
            <th class="pv2 ph3">Completed</th>
            <th class="pv2 ph3">Experience</th>
          </tr>
          <tr class="striped--near-white" *ngFor="let mission of missions; let i = index">
            <td class="pv2 ph3">{{ mission.name }}</td>
            <td class="pv2 ph3 tc"><input type="checkbox" [checked]="mission.completed" (click)="onStatusChanged(i, $event)" /></td>
            <td class="pv2 ph3 tc"><input type="text" class="w2 tc" value="{{ mission.experience }}"></td>
          </tr>
        </table>
      </div>
  </div>
