<div class="sans-serif f6 ph2">
  <div class="f4">General notes</div>
  <div *ngFor="let note of notes">
    {{note}}
  </div>
  <div class="f4">Cultists we interrogated</div>
  <div class="f4">Cultists that got away</div>
  <hr>
  <div class="f4">
    Progress
  </div>
  <div>
    <table class="collapse ba br2">
      <tr class="striped--near-white">
        <th class="pv2 ph3">Mission</th>
        <th class="pv2 ph3">Completed</th>
        <th class="pv2 ph3">Experience</th>
      </tr>
      <tr class="striped--near-white" *ngFor="let mission of missions">
        <td class="pv2 ph3">{{ mission.name }}</td>
        <td class="pv2 ph3"><input type="checkbox" [checked]="mission.completed" /></td>
        <td class="pv2 ph3">{{ mission.experience }}</td>
      </tr>
    </table>
  </div>
</div>
