<div class="sans-serif f6 mw6">
  <div class="ba pa2 br2">
    <div class="flex justify-between">
      <div class="f4">General notes</div>
      <div>
        <input 
          class="mr1 h2 b--blue br2"
          type="text" 
          [(ngModel)]="note">
        <button 
          class="btn btn-success h2 w3"
          [disabled]="note === ''"
          (click)="onAddNote()">Add</button>
      </div>
    </div>
    <ul class="list ml0 pl0">
      <li 
        *ngFor="let note of notes; let i = index">
        <div 
          class="flex justify-between items-center pv1 pl1"
          [ngClass]="{'bg-near-white': i % 2}">
          <div class="w-80">{{note}}</div>
          <button
            class="btn btn-danger w2 h2"
            (click)="onRemoveNote(i)">-</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="ba pa2 br2">
      <div class="f4">Cultists we interrogated</div>
      <div>None</div>
  </div>

  <div class="ba pa2 br2">
      <div class="f4">Cultists that got away</div>
      <div>None</div>
  </div>
  <div class="ba pa2 br2">
    <div class="f4 mb1">Progress</div>
    <div>
        <table class="collapse w-100">
          <tr class="striped--near-white">
            <th class="pv2 ph3">Mission</th>
            <th class="pv2 ph3">Completed</th>
            <th class="pv2 ph3">Experience</th>
          </tr>
          <tr class="striped--near-white" *ngFor="let mission of missions">
            <td class="pv2 ph3">{{ mission.name }}</td>
            <td class="pv2 ph3 tc"><input type="checkbox" [checked]="mission.completed" /></td>
            <td class="pv2 ph3 tc"><input type="text" class="w2 tc" value="{{ mission.experience }}"></td>
          </tr>
        </table>
      </div>
  </div>
</div>
